<h3>List of Repositories Available</h3>
<table class="table table-striped">
  <tr><th>Name</th><th>Description</th></tr>
{{#each model}}
    <tr><th>{{#link-to 'repository' this}}{{id}}{{/link-to}}</th><td>{{description}}</td></tr>
{{else}}
  <tr><td colspan="2">No results found.</td></tr>
{{/each}}
</table>
{{outlet}}
